<h2><%= @pet.name.upcase %></h2>

<div>
  <p><strong>Species:</strong> <%= @pet.species.capitalize %></p>
  <p><strong>Address:</strong> <%= @pet.address %></p>
  <p><strong>Found On:</strong> <%= @pet.found_on %></p>
</div>

<p>
  <%= link_to 'Edit', edit_pet_path(@pet), class: 'btn btn-warning' %>
  <%= link_to 'Delete', pet_path(@pet), class: 'btn btn-danger', method: :delete %>
</p>
<p>
  <%= link_to 'Back to All Pets', pets_path %>
</p>
